nav {
    background-color: rgb(10, 6, 6);
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  
  nav a:hover {
    background-color: #111;
  }
  
  /* Add a responsive navigation bar */
  @media screen and (max-width: 600px) {
    nav {
      position: relative;
    }
    nav ul {
      position: absolute;
      display: none;
      background-color: #333;
      width: 100%;
    }
    nav li {
      float: none;
    }
    nav a {
      display: block;
      text-align: left;
    }
    /* Show the navigation bar when the screen is below 600px */
    nav a:hover,
    nav a:active {
      background-color: #111;
      display: block;
    }
    /* Add a "show" class to the navigation bar when the screen is below 600px */
    nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a.icon:before {
      content: '\2630';
      font-size: 36px;
      color: #fff;
      padding: 14px 16px;
    }
    nav.responsive a.icon:hover:before {
      content: '\2715';
    }
  }
  